// . . . . . . . Footer styling . . . . . . .

@import "mixins";

footer {
	background-color: $color_mine_shaft_approx;
	display: flex;
	justify-content: center;
	width: 100%;
	@include mobile {
		padding-bottom: 5%;
	}
}
.footer-form {
	font-family: "Verdana";
	display: inline-block;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	width: 50vw;
	background-color: $white;
	border-radius: 1vw;
	box-shadow: 0 0 15px $color_dove_gray_approx;
	padding: 8% 15%;
	margin-top: -30%;
	color: $color_dorado_approx;
	@include mobile {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100vw;
		padding: 8% 10%;
		margin-bottom: 5%;
		border-radius: 0;
		box-shadow: none;
	}
	@include tablet {
		width: 70vw;
		padding: 8% 10%;
		margin-bottom: 5%;
		padding-bottom: 3%;
	}
	@include tablet-pro {
		width: 60vw;
		padding: 8% 10%;
		margin-bottom: 5%;
		padding-bottom: 3%;
	}
	@include laptop {
		width: 50vw;
		padding: 8% 10%;
		padding-bottom: 3%;
	}
	.success-sub {
		color: $color_azure_radiance_approx;
		font-size: 1.2rem;
	}
	.failed-sub {
		color: $color_azure_radiance_approx;
		font-size: 1.2rem;
	}
	p {
		text-align: center;
		width: 100%;
		margin-bottom: 7%;
		@include tablet {
			font-size: 2vw;
			line-height: 3.5vw;
		}
		@include tablet-pro {
			font-size: 1.5vw;
			line-height: 3vw;
		}
	}
	label {
		width: 100%;
	}
	input[type="text"],
	input[type="email"] {
		font-family: "Verdana";
		width: 40%;
		margin-bottom: 10%;
		margin-right: 2%;
		margin-left: 2%;
		padding: 2% 0;
		border-radius: 0;
		-webkit-appearance: none;
		border: solid;
		border-color: $color_dorado_approx;
		border-width: 0 0 0.1vw 0;
		font-size: 0.8vw;
		color: $color_mine_shaft_approx;
		@include mobile {
			width: 80%;
			padding: 5% 0;
			font-size: 3vw;
		}

		@include tablet {
			font-size: 2vw;
		}

		@include tablet-pro {
			font-size: 1.5vw;
		}

		&:focus {
			border-color: $color_azure_radiance_approx;
			border-width: 0 0 0.1vw 0;
			outline: none;
		}
	}

	input[type="text"]::placeholder,
	input[type="email"]::placeholder {
		font-size: 0.7vw;
		@include mobile {
			font-size: 3vw;
		}
		@include tablet {
			font-size: 1.5vw;
		}
		@include tablet-pro {
			font-size: 1.2vw;
		}
	}

	input[type="submit"] {
		font-family: "Verdana";
		font-size: 0.8vw;
		font-weight: 600;
		color: $white;
		border: solid 0.1vw;
		border-color: $color_azure_radiance_approx;
		background-color: $color_azure_radiance_approx;
		border-radius: 0.3vw;
		padding: 2.5% 4%;
		margin-bottom: 4%;
		letter-spacing: 0.1rem;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		cursor: pointer;

		@include mobile {
			width: 50%;
			display: inline-block;
			margin-top: 7%;
			margin-bottom: 7%;
			padding-top: 4%;
			padding-bottom: 4%;
			padding-right: 5%;
			padding-left: 5%;
			font-size: 3vw;
			border-radius: 1vw;
		}
		@include tablet {
			margin-top: 3%;
			padding-top: 3%;
			padding-bottom: 3%;
			padding-right: 5%;
			padding-left: 5%;
			font-size: 1.5vw;
			border-radius: 0.7vw;
		}
		@include tablet-pro {
			margin-top: 3%;
			padding-top: 3%;
			padding-bottom: 3%;
			padding-right: 5%;
			padding-left: 5%;
			font-size: 1.1vw;
			border-radius: 0.5vw;
		}
		&:hover {
			color: $color_azure_radiance_approx;
			border-color: $color_azure_radiance_approx;
			background-color: $white;
		}
	}
}
.copyright-text {
	text-align: center;
	padding-bottom: 3%;
	color: $white;
	@include mobile {
		padding-bottom: 0.5rem;
	}
	@include tablet {
		font-size: 1.8vw;
		padding-bottom: 7%;
	}
	@include tablet-pro {
		font-size: 1.3vw;
		padding-bottom: 7%;
	}
	.all-rights {
		@include mobile {
			display: none;
		}
	}
}
ul.social {
	display: flex;
	padding-top: 10%;
	padding-bottom: 2%;
	justify-content: center;
	list-style-type: none;
	margin: 0 auto;
	@include mobile {
		padding-bottom: 1%;
		padding-top: 5%;
	}
	@include tablet {
		padding-bottom: 4%;
	}
	@include tablet-pro {
		padding-bottom: 4%;
	}

	li {
		color: $color_nobel_approx;
		text-align: center;
		margin: 0 2%;
		@include mobile {
			margin: 0 2.5vw;
		}
		@include tablet {
			margin: 0 1.7vw;
		}

		a {
			svg {
				fill: $color_nobel_approx;
				cursor: pointer;
				width: 1.1vw;
				height: 1.1vw;
				@include mobile {
					width: 4.7vw;
					height: 4.7vw;
				}
				@include tablet {
					width: 2.5vw;
					height: 2.5vw;
				}
				@include tablet-pro {
					width: 2vw;
					height: 2vw;
				}
				&:hover {
					fill: $white;
				}
			}
		}
	}
}
