@charset "UTF-8";
/*@mixin widescreen CSS {
    @media (min-width: 1441px) and (max-width: 1920px) {
        @content;
    }
}*/
@-webkit-keyframes pulse {
  from {
    transform: scale3d(1, 1, 1);
  }
  50% {
    transform: scale3d(1.05, 1.05, 1.05);
  }
  to {
    transform: scale3d(1, 1, 1);
  }
}
@keyframes pulse {
  from {
    transform: scale3d(1, 1, 1);
  }
  50% {
    transform: scale3d(1.05, 1.05, 1.05);
  }
  to {
    transform: scale3d(1, 1, 1);
  }
}
@-webkit-keyframes vanish {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes vanish {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("../images/Light-mode_bg.webp");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
@media (max-width: 500px) {
  body {
    background-image: url("../images/Light-mode_bg-mobile.webp");
  }
}
@media (min-width: 501px) and (max-width: 768px) {
  body {
    background-image: url("../images/Light-mode_bg-tablet.webp");
  }
}

.container {
  width: 100%;
  height: 100vh;
  position: relative;
}

.loading::before {
  content: "";
  z-index: 503;
  position: fixed;
  color: #fff;
  font-size: 3rem;
  top: 50%;
  left: 50%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  -webkit-animation: fa-spin 2s linear infinite;
  animation: fa-spin 2s linear infinite;
  font-family: "FontAwesome";
}

.loading::after {
  content: "";
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  top: 0;
  left: 0;
  z-index: 502;
}

p {
  font-family: "Verdana";
  line-height: 1.7rem;
  font-size: 0.85rem;
  letter-spacing: 0.03rem;
}
p.caveat {
  font-family: "Caveat";
  font-size: 2rem;
}
p.copyright-text a {
  color: #009ff6;
}

.loader {
  position: fixed;
  z-index: 5000;
  background-color: #fff;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-animation: pulse 1s linear infinite;
          animation: pulse 1s linear infinite;
}
@media (min-width: 501px) and (max-width: 768px) {
  .loader {
    width: 100%;
    height: 100%;
  }
}
@media (max-width: 500px) {
  .loader {
    width: 100%;
    height: 100%;
  }
}
.loader .pre {
  width: 80px;
  height: 80px;
}
@media (min-width: 501px) and (max-width: 768px) {
  .loader .pre {
    width: 60px;
    height: 60px;
  }
}
@media (max-width: 500px) {
  .loader .pre {
    width: 50px;
    height: 50px;
  }
}
.loader .blue, .loader .grey {
  color: #009ff6;
  font-family: "Verdana";
  font-size: 2.5rem;
  font-weight: 500;
}
@media (min-width: 501px) and (max-width: 768px) {
  .loader .blue, .loader .grey {
    font-size: 2rem;
    font-weight: 500;
  }
}
@media (max-width: 500px) {
  .loader .blue, .loader .grey {
    font-size: 1.5rem;
    font-weight: 500;
  }
}
.loader .grey {
  color: #525252;
}

.disappear {
  -webkit-animation: vanish 1s forwards;
          animation: vanish 1s forwards;
}

.single-post {
  padding: 0 10% 0 10%;
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  background-image: url("../images/Contact-Background.webp");
}
@media (max-width: 500px) {
  .single-post {
    background: none;
    padding: 20% 10% 7% 10%;
    height: auto;
    text-align: center;
  }
}
@media (min-width: 501px) and (max-width: 768px) {
  .single-post {
    background: none;
    padding: 20% 10% 7% 10%;
    height: auto;
    text-align: center;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .single-post {
    background: none;
    padding: 17% 10% 7% 10%;
    height: auto;
    text-align: center;
  }
}
@media (min-width: 1025px) and (max-width: 1440px) {
  .single-post {
    background-image: url("../images/Contact-Background.webp");
    padding: 17% 10% 7% 10%;
    height: auto;
  }
}
.single-post .post-info {
  margin-top: 5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  flex-direction: horizontal;
  font-family: "Verdana";
  color: #525252;
}
@media (max-width: 500px) {
  .single-post .post-info {
    width: 100%;
    margin-top: 5%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
  }
}
@media (min-width: 501px) and (max-width: 768px) {
  .single-post .post-info {
    width: 100%;
    margin-top: -2%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .single-post .post-info {
    width: 100%;
    margin-top: -2%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media (min-width: 1025px) and (max-width: 1440px) {
  .single-post .post-info {
    width: 100%;
    margin-top: 2%;
  }
}
.single-post .post-info .post-image {
  width: 50%;
}
@media (max-width: 500px) {
  .single-post .post-info .post-image {
    width: 100%;
  }
}
@media (min-width: 501px) and (max-width: 768px) {
  .single-post .post-info .post-image {
    width: 100%;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .single-post .post-info .post-image {
    width: 100%;
  }
}
@media (min-width: 1025px) and (max-width: 1440px) {
  .single-post .post-info .post-image {
    width: 50%;
  }
}
.single-post .post-info .post-image img {
  width: auto;
  height: 500px;
  border-radius: 10px;
  box-shadow: -3rem -3rem 1px #009ff6;
}
@media (max-width: 500px) {
  .single-post .post-info .post-image img {
    width: 95%;
    height: auto;
    box-shadow: none;
  }
}
@media (min-width: 501px) and (max-width: 768px) {
  .single-post .post-info .post-image img {
    width: 95%;
    height: auto;
    box-shadow: none;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .single-post .post-info .post-image img {
    width: 95%;
    height: auto;
    box-shadow: none;
  }
}
@media (min-width: 1025px) and (max-width: 1440px) {
  .single-post .post-info .post-image img {
    width: 95%;
    height: auto;
    box-shadow: -2rem -2rem 1px #009ff6;
  }
}
.single-post .post-info .post-meta {
  width: 50%;
  border-radius: 10px;
  background-color: #fff;
  margin-right: 5%;
  padding-right: 5%;
  padding-left: 5%;
}
@media (max-width: 500px) {
  .single-post .post-info .post-meta {
    text-align: left;
    padding: 3%;
    width: 100%;
    background-color: #fff;
    margin-right: 0;
    margin-top: 0;
    margin-left: 0;
    box-shadow: none;
  }
}
@media (min-width: 501px) and (max-width: 768px) {
  .single-post .post-info .post-meta {
    text-align: center;
    padding: 3%;
    width: 80%;
    background-color: #fff;
    margin-right: 0;
    margin-top: -15%;
    margin-left: 0;
    box-shadow: 0 0 2px #505050;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .single-post .post-info .post-meta {
    text-align: center;
    padding: 3%;
    width: 80%;
    background-color: #fff;
    margin-right: 0;
    margin-top: -15%;
    margin-left: 0;
    box-shadow: 0 0 2px #505050;
  }
}
@media (min-width: 1025px) and (max-width: 1440px) {
  .single-post .post-info .post-meta {
    width: 50%;
    background-color: transparent;
    margin-right: 0;
    padding-right: 5%;
    padding-left: 5%;
    font-size: 2.5rem;
  }
}
.single-post .post-info .post-meta .date {
  line-height: 4rem;
  font-size: 1rem;
  font-weight: 600;
}
@media (max-width: 500px) {
  .single-post .post-info .post-meta .date {
    margin: auto;
    font-size: 0.7rem;
  }
}
@media (min-width: 501px) and (max-width: 768px) {
  .single-post .post-info .post-meta .date {
    margin: auto;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .single-post .post-info .post-meta .date {
    margin: auto;
  }
}
@media (min-width: 1025px) and (max-width: 1440px) {
  .single-post .post-info .post-meta .date {
    margin-left: 0;
  }
}
.single-post .post-info .post-meta h1 {
  font-size: 3rem;
  line-height: 5rem;
}
@media (max-width: 500px) {
  .single-post .post-info .post-meta h1 {
    margin-left: 0;
    font-size: 1.1rem;
    line-height: 2.2rem;
  }
}
@media (min-width: 501px) and (max-width: 768px) {
  .single-post .post-info .post-meta h1 {
    margin-left: 0;
    font-size: 1.3rem;
    line-height: 2.7rem;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .single-post .post-info .post-meta h1 {
    margin-left: 0;
    font-size: 1.5rem;
    line-height: 3.5rem;
  }
}
@media (min-width: 1025px) and (max-width: 1440px) {
  .single-post .post-info .post-meta h1 {
    margin-left: 0;
    font-size: 2.5rem;
    line-height: 4rem;
  }
}

.single-post-body {
  padding: 0 10% 0 10%;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.single-post-body .post-body {
  padding: 0 10% 0 10%;
  display: flex;
  width: 100%;
  height: auto;
  justify-content: space-between;
}
@media (max-width: 500px) {
  .single-post-body .post-body {
    flex-direction: column-reverse;
    padding: 0 5% 0 5%;
  }
}
@media (min-width: 501px) and (max-width: 768px) {
  .single-post-body .post-body {
    flex-direction: column-reverse;
    padding: 0 5% 0 5%;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .single-post-body .post-body {
    flex-direction: column-reverse;
    padding: 0 10% 0 10%;
  }
}
@media (min-width: 1025px) and (max-width: 1440px) {
  .single-post-body .post-body {
    padding: 0 5% 0 5%;
  }
}
.single-post-body .post-body .my-avatar-info {
  position: -webkit-sticky;
  position: sticky;
  top: 10%;
  width: 25%;
  height: 70%;
  display: flex;
  padding-right: 5%;
  flex-direction: column;
  justify-content: flex-start;
}
@media (max-width: 500px) {
  .single-post-body .post-body .my-avatar-info {
    margin-top: 10%;
    width: 100%;
    padding-right: 0;
    height: auto;
  }
}
@media (min-width: 501px) and (max-width: 768px) {
  .single-post-body .post-body .my-avatar-info {
    margin-top: 10%;
    width: 100%;
    padding-right: 0;
    height: auto;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .single-post-body .post-body .my-avatar-info {
    margin-top: 10%;
    width: 100%;
    padding-right: 0;
    height: auto;
  }
}
.single-post-body .post-body .my-avatar-info div {
  flex-wrap: wrap;
  text-align: left;
}
@media (max-width: 500px) {
  .single-post-body .post-body .my-avatar-info div {
    flex-wrap: nowrap;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
}
@media (min-width: 501px) and (max-width: 768px) {
  .single-post-body .post-body .my-avatar-info div {
    flex-wrap: nowrap;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .single-post-body .post-body .my-avatar-info div {
    flex-wrap: nowrap;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
}
.single-post-body .post-body .my-avatar-info div img {
  height: auto;
  width: 80%;
  padding-bottom: 5%;
}
@media (max-width: 500px) {
  .single-post-body .post-body .my-avatar-info div img {
    display: inline-block;
    height: auto;
    width: 65%;
  }
}
@media (min-width: 501px) and (max-width: 768px) {
  .single-post-body .post-body .my-avatar-info div img {
    display: inline-block;
    height: auto;
    width: 35%;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .single-post-body .post-body .my-avatar-info div img {
    display: inline-block;
    height: auto;
    width: 35%;
  }
}
@media (min-width: 1025px) and (max-width: 1440px) {
  .single-post-body .post-body .my-avatar-info div img {
    width: 100%;
    height: auto;
  }
}
.single-post-body .post-body .my-avatar-info div p {
  color: #505050;
  font-size: 0.85rem;
  margin-top: 5%;
  margin-bottom: 10%;
}
@media (max-width: 500px) {
  .single-post-body .post-body .my-avatar-info div p {
    display: inline-block;
    padding-left: 0%;
    margin-bottom: 0;
  }
}
@media (min-width: 501px) and (max-width: 768px) {
  .single-post-body .post-body .my-avatar-info div p {
    display: inline-block;
    padding-left: 5%;
    margin-bottom: 0;
    width: 65%;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .single-post-body .post-body .my-avatar-info div p {
    display: inline-block;
    padding-left: 5%;
    margin-bottom: 0;
    width: 65%;
  }
}
@media (max-width: 500px) {
  .single-post-body .post-body .my-avatar-info .exclusive {
    margin-top: 10%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
}
@media (min-width: 501px) and (max-width: 768px) {
  .single-post-body .post-body .my-avatar-info .exclusive {
    justify-content: flex-start;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .single-post-body .post-body .my-avatar-info .exclusive {
    justify-content: flex-start;
  }
}
.single-post-body .post-body .my-avatar-info .exclusive i {
  padding: 7% 3% 5% 3%;
  font-size: 1.2rem;
  cursor: pointer;
  color: #525252;
  display: block;
}
@media (max-width: 500px) {
  .single-post-body .post-body .my-avatar-info .exclusive i {
    display: inline-block;
    align-items: center;
  }
}
.single-post-body .post-body .my-avatar-info .exclusive i span {
  font-family: "Verdana";
  font-size: 0.85rem;
}
.single-post-body .post-body .my-avatar-info .exclusive .social-share {
  display: none;
}
.single-post-body .post-body .my-avatar-info .exclusive .social-share-on {
  display: flex;
  flex-direction: row;
  padding-top: 5%;
}
@media (max-width: 500px) {
  .single-post-body .post-body .my-avatar-info .exclusive .social-share-on {
    display: block;
    width: 100%;
    padding-left: 0;
    align-items: center;
    margin-top: -3%;
  }
}
@media (min-width: 501px) and (max-width: 768px) {
  .single-post-body .post-body .my-avatar-info .exclusive .social-share-on {
    padding-left: 15%;
    align-items: center;
    margin-top: -3%;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .single-post-body .post-body .my-avatar-info .exclusive .social-share-on {
    padding-left: 15%;
    align-items: center;
    margin-top: -2.5%;
  }
}
.single-post-body .post-body .my-avatar-info .exclusive .social-share-on a {
  cursor: pointer;
  margin: 0 5%;
}
@media (max-width: 500px) {
  .single-post-body .post-body .my-avatar-info .exclusive .social-share-on a {
    margin: 0 2%;
  }
}
@media (min-width: 501px) and (max-width: 768px) {
  .single-post-body .post-body .my-avatar-info .exclusive .social-share-on a {
    margin: 0 15%;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .single-post-body .post-body .my-avatar-info .exclusive .social-share-on a {
    margin: 0 15%;
  }
}
@media (min-width: 1025px) and (max-width: 1440px) {
  .single-post-body .post-body .my-avatar-info .exclusive .social-share-on a {
    margin: 0 5%;
  }
}
.single-post-body .post-body .my-avatar-info .exclusive .social-share-on a .fa-facebook {
  color: #1877f2;
}
.single-post-body .post-body .my-avatar-info .exclusive .social-share-on a .fa-twitter {
  color: #1da1f2;
}
.single-post-body .post-body .my-avatar-info .exclusive .social-share-on a .fa-linkedin-in {
  color: #0a66c2;
}
.single-post-body .post-body .my-avatar-info .exclusive .social-share-on a .fa-whatsapp {
  color: #25d366;
}
.single-post-body .post-body .my-avatar-info .exclusive .social-share-on a .fa-telegram {
  color: #0088cc;
}
.single-post-body .post-body .main-content {
  width: 75%;
  padding-right: 10%;
}
@media (max-width: 500px) {
  .single-post-body .post-body .main-content {
    width: 100%;
    padding-right: 0;
  }
}
@media (min-width: 501px) and (max-width: 768px) {
  .single-post-body .post-body .main-content {
    width: 100%;
    padding-right: 0;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .single-post-body .post-body .main-content {
    width: 100%;
    padding-right: 0;
  }
}
@media (min-width: 1025px) and (max-width: 1440px) {
  .single-post-body .post-body .main-content {
    padding-right: 5%;
  }
}
.single-post-body .post-body .main-content h1,
.single-post-body .post-body .main-content h2,
.single-post-body .post-body .main-content h3,
.single-post-body .post-body .main-content h4,
.single-post-body .post-body .main-content h5,
.single-post-body .post-body .main-content h6 {
  font-family: "Verdana";
  color: #3a3a3a;
}
.single-post-body .post-body .main-content p,
.single-post-body .post-body .main-content li {
  font-family: "Verdana";
  font-size: 1rem;
  line-height: 2.2rem;
  padding: 2% 0 2% 0;
  color: #505050;
  background-color: #fff;
}
@media (max-width: 500px) {
  .single-post-body .post-body .main-content p,
.single-post-body .post-body .main-content li {
    font-size: 0.85rem;
  }
}
@media (min-width: 501px) and (max-width: 768px) {
  .single-post-body .post-body .main-content p,
.single-post-body .post-body .main-content li {
    font-size: 1rem;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .single-post-body .post-body .main-content p,
.single-post-body .post-body .main-content li {
    font-size: 1rem;
  }
}
@media (min-width: 1025px) and (max-width: 1440px) {
  .single-post-body .post-body .main-content p,
.single-post-body .post-body .main-content li {
    font-size: 1rem;
  }
}
.single-post-body .post-body .main-content .wp-block-code {
  color: #3a3a3a;
  font-family: Courier New;
  font-weight: 500;
  background-color: #f2f2f2;
  display: block;
}
.single-post-body .post-body .main-content .wp-block-code code {
  color: #3a3a3a;
  display: block;
  font-size: 1rem;
  padding: 5%;
  font-family: Courier New;
  font-weight: 500;
  background-color: #f2f2f2;
}

.blog {
  padding-top: 15%;
  padding-left: 15%;
  padding-right: 15%;
  padding-bottom: 25%;
}
@media (max-width: 500px) {
  .blog {
    padding-right: 10%;
    padding-left: 10%;
    margin-bottom: 20%;
  }
}
@media (min-width: 501px) and (max-width: 768px) {
  .blog {
    padding-right: 10%;
    padding-left: 10%;
    margin-bottom: 20%;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .blog {
    padding-right: 10%;
    padding-left: 10%;
    margin-bottom: 15%;
  }
}
@media (min-width: 1025px) and (max-width: 1440px) {
  .blog {
    padding-right: 10%;
    padding-left: 10%;
    margin-bottom: 10%;
  }
}
.blog .button {
  display: flex;
  justify-content: center;
}
.blog .button button {
  align-self: center;
  color: #fff;
  font-family: "Verdana";
  font-weight: 600;
  font-size: 0.85rem;
  letter-spacing: 0.1rem;
  text-transform: capitalize;
  padding-top: 1.5%;
  padding-bottom: 1.5%;
  padding-right: 2%;
  padding-left: 2%;
  border: solid 1.5px;
  border-radius: 4px;
  border-color: #009ff6;
  background-color: #009ff6;
  box-shadow: none;
}
@media (max-width: 500px) {
  .blog .button button {
    padding-top: 3.5%;
    padding-bottom: 3.5%;
    padding-right: 5%;
    padding-left: 5%;
  }
}
@media (min-width: 501px) and (max-width: 768px) {
  .blog .button button {
    padding-top: 2%;
    padding-bottom: 2%;
    padding-right: 3%;
    padding-left: 3%;
  }
}
.blog .button button a {
  color: #fff;
}
.blog .button button a:hover {
  color: #009ff6;
}
.blog .button button:hover {
  color: #009ff6;
  border-color: #009ff6;
  background-color: #fff;
}
.blog .button button:hover a {
  color: #009ff6;
}
.blog div h3 {
  text-align: center;
  font-size: 1.5rem;
  color: #000;
  font-family: "Verdana";
  font-weight: 500;
  padding-bottom: 1.5%;
}

.divider4 {
  width: 12%;
  height: 2px;
  margin-left: auto;
  margin-right: auto;
  background-color: #009ff6;
  border: none;
}

.articles {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 10%;
  padding-bottom: 5%;
}
@media (max-width: 500px) {
  .articles {
    flex-direction: column;
    flex-wrap: wrap;
    padding-top: 7%;
  }
}
@media (min-width: 501px) and (max-width: 768px) {
  .articles {
    flex-wrap: nowrap;
    overflow: scroll;
    padding-top: 7%;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .articles {
    flex-wrap: nowrap;
    overflow: scroll;
    padding-top: 7%;
  }
}
@media (min-width: 1025px) and (max-width: 1440px) {
  .articles {
    padding-top: 7%;
  }
}
.articles div {
  width: 30%;
}
@media (max-width: 500px) {
  .articles div {
    width: 100%;
    margin: 10% 0;
  }
}
@media (min-width: 501px) and (max-width: 768px) {
  .articles div {
    width: 50%;
    margin: 0 1.5%;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .articles div {
    width: 50%;
    margin: 0 1.5%;
  }
}
@media (min-width: 1025px) and (max-width: 1440px) {
  .articles div {
    width: 32%;
  }
}
.articles div p {
  background-color: #fff;
  margin-top: 2%;
  margin-bottom: 1%;
  color: #505050;
  font-weight: 500;
  font-size: 0.85rem;
  font-family: "Verdana";
}
.articles div h3 {
  text-align: left;
  color: #525252;
  letter-spacing: 0.5px;
  font-weight: 600;
  font-size: 1rem;
  font-family: "Verdana";
  line-height: 1.5em;
}
.articles div h3 a {
  color: #525252;
  line-height: 2rem;
}
.articles div img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
@media (max-width: 500px) {
  .articles div img {
    width: 100%;
    height: auto;
  }
}
@media (min-width: 501px) and (max-width: 768px) {
  .articles div img {
    width: 250px;
    height: auto;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .articles div img {
    width: 350px;
    height: auto;
  }
}
@media (min-width: 1025px) and (max-width: 1440px) {
  .articles div img {
    width: 100%;
    height: auto;
  }
}/*# sourceMappingURL=blog-single.css.map */