//colors
$color_azure_radiance_approx: #009ff6;
$color_dorado_approx: #525252;
$white: #fff;
$boulder: #505050;
$black: #000;
$color_wild_sand_approx: #f5f5f5;
$color_alto_approx: #d2d1d1;
$color_mine_shaft_approx: #3a3a3a;
$color_dove_gray_approx: #666;
$color_nobel_approx: #b4b0b0;

@import "mixins";
@keyframes pulse {
    from {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    50% {
        -webkit-transform: scale3d(1.05, 1.05, 1.05);
        transform: scale3d(1.05, 1.05, 1.05);
    }

    to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@keyframes vanish {
    100% {
        opacity: 0;
        visibility: hidden;
    }
}
@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes slideIn {
    0% {
        transform: translateX(300px);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes fa-spin {
    0% {
        transformation: rotate(0deg);
    }
    to {
        transformation: rotate(1turn);
    }
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("../images/Contact-Background.webp");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.container {
    width: 100%;
    height: 100vh;
    @include tablet {
        width: 100%;
        height: 100vh;
    }
}
.loading::before {
    content: "\f110";
    z-index: 503;
    position: fixed;
    color: $white;
    font-size: 3rem;
    top: 50%;
    left: 50%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    -webkit-animation: fa-spin 2s linear infinite;
    animation: fa-spin 2s linear infinite;
    font-family: "FontAwesome";
}
.loading::after {
    content: "";
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    top: 0;
    left: 0;
    z-index: 502;
}

p {
    font-family: "Verdana";
    line-height: 1.7rem;
    font-size: 0.95rem;
    letter-spacing: 0.03rem;
    &.caveat {
        font-family: "Caveat";
        font-size: 2rem;
    }
    &.copyright-text a {
        color: $color_azure_radiance_approx;
    }
}
.loader {
    position: fixed;
    z-index: 5000;
    background-color: $white;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: pulse 1s linear infinite;
    @include tablet {
        width: 100%;
        height: 100%;
    }
    @include mobile {
        width: 100%;
        height: 100%;
    }
    .pre {
        width: 80px;
        height: 80px;
        @include tablet {
            width: 60px;
            height: 60px;
        }
        @include mobile {
            width: 50px;
            height: 50px;
        }
    }
    .blue {
        color: $color_azure_radiance_approx;
        font-family: "Verdana";
        font-size: 2.5rem;
        font-weight: 500;
        @include tablet {
            font-size: 2rem;
            font-weight: 500;
        }
        @include mobile {
            font-size: 1.5rem;
            font-weight: 500;
        }
    }
    .grey {
        @extend .blue;
        color: $color_dorado_approx;
    }
}

.disappear {
    animation: vanish 1s forwards;
}

//  . . . . . . . Header styling . . . . . . .
header {
    padding-top: 2%;
    padding-left: 5%;
    padding-right: 5%;
    overflow: auto;
    background-color: transparent;
    position: fixed;
    width: 100%;
    transition: 1s;
    @include laptop {
        padding-right: 2%;
    }
    @include mobile {
        padding-top: 4%;
        padding-left: 3%;
        padding-right: 6%;
    }
    &.sticky a.nav-button {
        color: $color_azure_radiance_approx;
        border-color: $color_azure_radiance_approx;
        background-color: $white;
        &:hover {
            color: $color_azure_radiance_approx;
            border-color: $color_azure_radiance_approx;
            background-color: $white;
        }
    }

    #check {
        display: none;
    }

    .checkbtn {
        display: none;
        @include mobile {
            display: flex;
            z-index: 500;
        }
        @include tablet {
            display: flex;
            z-index: 500;
        }
        @include smalllaptop {
            display: flex;
            z-index: 500;
        }
    }
}
.sticky {
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 5%;
    padding-right: 5%;
    background-color: $white;
    transition: 1s;
    z-index: 500;
    @include mobile {
        padding-top: 4%;
        padding-left: 3%;
        padding-right: 6%;
    }
    @include tablet {
        padding-top: 2%;
    }
    @include smalllaptop {
        padding-top: 2%;
    }
    @include laptop {
        padding-top: 2%;
        padding-right: 2%;
    }
}

a {
    text-decoration: none;
    list-style: none;
    &#logo-link {
        align-self: center;
        padding-left: 2%;
        display: flex;
        align-items: center;
        .logo {
            width: 12%;
            height: 12%;
        }

        p {
            margin-top: 1%;
            .blue {
                color: $color_azure_radiance_approx;
                font-family: "Verdana";
                font-size: 1.5rem;
                font-weight: 500;
                @include tablet {
                    font-size: 1.5rem;
                    font-weight: 500;
                }
                @include mobile {
                    font-size: 1.3rem;
                    font-weight: 500;
                }
            }
            .grey {
                @extend .blue;
                color: $color_dorado_approx;
            }
        }
    }
    &.nav-button {
        align-self: center;
        color: $white;
        margin-right: 6%;
        font-family: "Verdana";
        font-weight: 700;
        font-size: 0.7rem;
        letter-spacing: 0.1rem;
        text-transform: uppercase;
        padding-top: 0.7%;
        padding-bottom: 0.75%;
        padding-right: 1.7%;
        padding-left: 1.7%;
        border: solid 1.5px;
        border-radius: 5px;
        border-color: $white;
        background-color: $color_azure_radiance_approx;
        box-shadow: none;
        &:hover {
            color: $color_azure_radiance_approx;
            border-color: $color_azure_radiance_approx;
            background-color: $white;
        }
        @include mobile {
            display: none;
        }
        @include tablet {
            display: none;
        }
        @include smalllaptop {
            display: none;
        }
    }
}
#navbar {
    display: flex;
    justify-content: space-between;
    padding-top: 0;
    width: 100%;
    align-items: center;
    @include mobile {
        padding-top: 2%;
    }
    @include tablet {
        padding-top: 2%;
    }
    @include smalllaptop {
        padding-top: 2%;
        padding-right: 2%;
    }

    .toggle {
        align-self: center;
        cursor: pointer;
        display: none;
        justify-content: space-between;
        text-decoration: none;
        fill: $color_dorado_approx;
        @include mobile {
            display: flex;
            margin-right: 5%;
            z-index: 502;
            align-items: center;
            width: 1.6rem;
        }
        @include tablet {
            display: flex;
            margin-right: 5%;
            z-index: 502;
            width: 2rem;
        }
        @include smalllaptop {
            display: flex;
            margin-right: 5%;
            z-index: 502;
            width: 2rem;
        }
    }
    .active {
        display: flex;
        transition: all 1s ease-in-out;
    }
    ul {
        display: flex;
        align-items: center;
        list-style: none;
        justify-content: space-between;
        margin-left: -14%;
        @include mobile {
            flex-direction: column;
            top: 8%;
            padding-top: 5%;
            padding-bottom: 10%;
            padding-right: 5%;
            position: fixed;
            height: auto;
            width: 50%;
            left: 50%;
            background-color: $white;
            display: none;
            transition: all 1s ease-in-out;
            align-items: flex-end;
            margin-left: 0;
        }
        @include tablet {
            flex-direction: column;
            top: 8.5%;
            padding-top: 5%;
            padding-bottom: 10%;
            padding-right: 5%;
            position: fixed;
            height: auto;
            width: 30%;
            left: 70%;
            background-color: $white;
            display: none;
            transition: all 1s ease-in-out;
            align-items: flex-end;
            margin-left: 0;
        }

        @include smalllaptop {
            flex-direction: column;
            top: 10.5%;
            padding-top: 3%;
            padding-bottom: 10%;
            padding-right: 5%;
            position: fixed;
            height: auto;
            width: 30%;
            left: 70%;
            background-color: $white;
            display: none;
            transition: all 1s ease-in-out;
            align-items: flex-end;
            margin-left: 0;
        }

        li a {
            color: $color_mine_shaft_approx;
            text-decoration: none;
            display: block;
            padding: 20px;
            font-family: "Verdana";
            font-size: 0.85rem;
            letter-spacing: 0.07rem;
            font-weight: 500;
            text-align: center;
            @include tablet {
                padding-top: 20%;
                padding-bottom: 20%;
            }
            @include smalllaptop {
                padding-top: 20%;
                padding-bottom: 20%;
            }
            &:hover {
                color: $color_azure_radiance_approx;
            }
            &:active {
                color: $color_azure_radiance_approx;
            }
        }
    }
}

// . . . . . . . Contact styling . . . . . . .
.contact {
    height: 100%;
    width: 100%;
    padding-right: 15%;
    padding-left: 15%;
    display: flex;
    flex-wrap: nowrap;
    color: $boulder;
    align-items: center;
    justify-content: center;
    @include mobile {
        height: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 15% 0;
    }
    @include tablet {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0;
    }
    @include smalllaptop {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0;
    }
    @include laptop {
        padding-right: 10%;
        padding-left: 10%;
    }

    .contactform {
        width: 50%;
        @include mobile {
            width: 100%;
            align-items: center;
            text-align: center;
            padding-top: 20%;
        }
        @include tablet {
            width: 100%;
            align-items: center;
            justify-content: center;
            text-align: center;
            padding-top: 0;
            padding-right: 15%;
            padding-left: 15%;
        }
        @include smalllaptop {
            width: 100%;
            align-items: center;
            justify-content: center;
            text-align: center;
            padding-top: 10%;
            padding-right: 15%;
            padding-left: 15%;
        }
    }
    .contact-form {
        font-family: "Verdana";
        display: inline-block;
        text-align: left;
        width: 100%;
        background-color: $white;
        padding: 0 5% 30% 5%;
        color: $color_dorado_approx;
        background-color: transparent;
        @include mobile {
            width: 100%;
            text-align: left;
            padding: 20% 15% 5% 15%;
            margin-bottom: 10%;
        }
        @include tablet {
            width: 100%;
            text-align: left;
            padding: 10%;
            margin-bottom: 20%;
        }
        @include smalllaptop {
            width: 100%;
            text-align: left;
            padding: 20% 10% 10% 10%;
            margin-bottom: 20%;
        }
        h1 {
            text-align: left;
            font-size: 1.7rem;
            font-weight: 500;
            width: 100%;
            margin-bottom: 5%;
            letter-spacing: 0.07rem;
            color: $color_azure_radiance_approx;
            @include mobile {
                text-align: center;
                font-size: 1.2rem;
            }
            @include tablet {
                font-size: 1.5rem;
                text-align: center;
            }
            @include smalllaptop {
                font-size: 1.5rem;
                text-align: center;
            }
            @include laptop {
                font-size: 1.5rem;
            }
        }
        label {
            &.error {
                color: $color_azure_radiance_approx;
                display: inline-block;
                text-align: left;
                position: absolute;
                font-size: 0.85rem;
                @include mobile {
                    font-size: 0.75rem;
                }
            }
        }
        input[type="text"],
        input[type="email"],
        textarea {
            font-family: "Verdana";
            width: 80%;
            margin-top: 5%;
            margin-bottom: 1%;
            margin-right: 1%;
            margin-left: 1%;
            padding: 4% 4%;
            border-radius: 0;
            -webkit-appearance: none;
            border: solid;
            border-color: $boulder;
            border-width: 0 0 1px 0;
            display: block;
            background-color: transparent;
            @include mobile {
                width: 100%;
            }
            @include tablet {
                width: 100%;
            }
            @include smalllaptop {
                width: 100%;
            }
            &:focus {
                border-color: $color_azure_radiance_approx;
                border-width: 0 0 1px 0;
                outline: none;
            }
        }

        input[type="submit"] {
            font-family: "Verdana";
            width: 30%;
            font-size: 0.8rem;
            font-weight: 600;
            color: $white;
            border: solid 1.5px;
            border-color: $color_azure_radiance_approx;
            background-color: $color_azure_radiance_approx;
            border-radius: 4px;
            padding: 2.5% 4%;
            margin-top: 15%;
            letter-spacing: 0.1rem;
            display: block;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;

            @include mobile {
                display: block;
                margin-left: 27%;
                margin-top: 25%;
                width: 50%;
                padding: 4% 4%;
                margin-left: auto;
                margin-right: auto;
            }
            @include tablet {
                display: block;
                margin-left: 35%;
                margin-left: auto;
                margin-right: auto;
            }
            @include smalllaptop {
                display: block;
                margin-left: 35%;
                margin-left: auto;
                margin-right: auto;
            }
            &:hover {
                color: $color_azure_radiance_approx;
                border-color: $color_azure_radiance_approx;
                background-color: $white;
            }
        }

        .success-form {
            color: $color_azure_radiance_approx;
            font-size: 1rem;
            margin-top: 3%;
            display: none;
        }
        .failed-form {
            color: $color_azure_radiance_approx;
            font-size: 1rem;
            margin-top: 3%;
            display: none;
        }
    }

    .contact-info {
        width: 50%;
        @include mobile {
            display: flex;
            flex-direction: row;
            width: 100%;
            text-align: center;
            padding-bottom: 20%;
        }
        @include tablet {
            display: flex;
            flex-direction: row;
            width: 100%;
            text-align: center;
        }
        @include smalllaptop {
            display: flex;
            flex-direction: row;
            width: 100%;
            text-align: center;
        }
        .contact-info-items {
            border-color: $boulder;
            align-content: center;
            padding-bottom: 30%;
            @include mobile {
                width: 100%;
                padding: 0;
            }
            @include tablet {
                width: 100%;
                padding: 0;
            }
            @include smalllaptop {
                width: 100%;
                padding: 0;
            }

            ul {
                display: flex;
                flex-direction: column;
                align-content: center;
                margin-top: -5%;
                @include mobile {
                    flex-direction: row;
                    justify-content: center;
                    margin-top: 10%;
                    margin-bottom: 15%;
                }
                @include tablet {
                    flex-direction: row;
                    justify-content: center;
                    margin-bottom: 15%;
                }
                @include smalllaptop {
                    flex-direction: row;
                    justify-content: center;
                    margin-bottom: 15%;
                }
                li {
                    list-style: none;
                    padding: 5% 0;
                    align-content: center;
                    margin: 1% 1%;
                    @include mobile {
                        display: inline-block;
                        padding: 0;
                        margin: 0 5%;
                    }
                    @include tablet {
                        display: inline-block;
                        padding: 0;
                        margin: 0 3%;
                    }
                    @include smalllaptop {
                        display: inline-block;
                        padding: 0;
                        margin: 0 3%;
                    }
                    a {
                        color: $color_dorado_approx;
                        text-decoration: none;
                        font-family: "Verdana";
                        font-size: 1rem;
                        letter-spacing: 0.05rem;
                        font-weight: 500;
                        align-content: center;

                        svg {
                            border-radius: 50%;
                            padding: 2.5%;
                            margin-right: 5%;
                            color: $color_azure_radiance_approx;
                            fill: $color_azure_radiance_approx;
                            box-shadow: 0 0 15px -3px $color_nobel_approx;
                            background-color: $white;
                            width: 8.5%;
                            height: auto;
                            display: inline;
                            margin-bottom: -4%;

                            @include mobile {
                                padding: 30%;
                                width: 3rem;
                                height: auto;
                            }
                            @include tablet {
                                padding: 30%;
                                width: 3rem;
                                height: auto;
                            }
                            @include smalllaptop {
                                padding: 30%;
                                width: 3rem;
                                height: auto;
                            }
                        }

                        span {
                            @include mobile {
                                display: none;
                            }
                            @include tablet {
                                display: none;
                            }
                            @include smalllaptop {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }
}

// . . . . . . . Footer styling . . . . . . .
footer {
    background-color: $color_mine_shaft_approx;
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 2% 0;
    bottom: 0;
    position: fixed;
    @include smalllaptop {
        position: relative;
    }
}
.copyright-text {
    text-align: center;
    padding-bottom: 3%;
    color: $white;
}
ul.social {
    display: flex;
    padding-top: 10%;
    padding-bottom: 5%;
    justify-content: center;
    list-style-type: none;
    margin: 0 auto;
    li {
        color: $color_nobel_approx;
        text-align: center;
        margin: 0 7%;
        a {
            svg {
                fill: $color_nobel_approx;
                cursor: pointer;
                &:hover {
                    fill: $white;
                }
            }
        }
    }
}
