/*@mixin widescreen CSS {
    @media (min-width: 1441px) and (max-width: 1920px) {
        @content;
    }
}*/
footer {
  background-color: #3a3a3a;
  display: flex;
  justify-content: center;
  width: 100%;
}
@media (max-width: 500px) {
  footer {
    padding-bottom: 5%;
  }
}

.footer-form {
  font-family: "Verdana";
  display: inline-block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 50vw;
  background-color: #fff;
  border-radius: 7px;
  box-shadow: 0 0 15px #666;
  padding: 8% 15%;
  margin-top: -30%;
  color: #525252;
}
@media (max-width: 500px) {
  .footer-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    padding: 8% 10%;
    margin-bottom: 5%;
    border-radius: 0;
    box-shadow: none;
  }
}
@media (min-width: 501px) and (max-width: 768px) {
  .footer-form {
    width: 70vw;
    padding: 8% 10%;
    margin-bottom: 5%;
    padding-bottom: 3%;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .footer-form {
    width: 60vw;
    padding: 8% 10%;
    margin-bottom: 5%;
    padding-bottom: 3%;
  }
}
@media (min-width: 1025px) and (max-width: 1440px) {
  .footer-form {
    width: 50vw;
    padding: 8% 10%;
    padding-bottom: 3%;
  }
}
.footer-form .success-sub {
  color: #009ff6;
  font-size: 1.2rem;
}
.footer-form .failed-sub {
  color: #009ff6;
  font-size: 1.2rem;
}
.footer-form p {
  text-align: center;
  width: 100%;
  margin-bottom: 7%;
}
.footer-form label {
  width: 100%;
}
.footer-form input[type=text],
.footer-form input[type=email] {
  font-family: "Verdana";
  width: 40%;
  margin-bottom: 10%;
  margin-right: 1%;
  margin-left: 1%;
  padding: 2% 4%;
  border-radius: 0;
  -webkit-appearance: none;
  border: solid;
  border-color: #525252;
  border-width: 1px;
  border-width: 0 0 1px 0;
}
@media (max-width: 500px) {
  .footer-form input[type=text],
.footer-form input[type=email] {
    width: 80%;
    padding: 5% 0;
  }
}
.footer-form input[type=text]:focus,
.footer-form input[type=email]:focus {
  border-color: #009ff6;
  border-width: 0 0 1px 0;
  outline: none;
}
.footer-form input[type=submit] {
  font-family: "Verdana";
  font-size: 0.8rem;
  font-weight: 600;
  color: #fff;
  border: solid 1.5px;
  border-color: #009ff6;
  background-color: #009ff6;
  border-radius: 4px;
  padding: 2.5% 4%;
  margin-bottom: 4%;
  letter-spacing: 0.1rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
@media (max-width: 500px) {
  .footer-form input[type=submit] {
    width: 50%;
    display: inline-block;
    margin-top: 7%;
    margin-bottom: 7%;
    padding-top: 4%;
    padding-bottom: 4%;
    padding-right: 5%;
    padding-left: 5%;
  }
}
@media (min-width: 501px) and (max-width: 768px) {
  .footer-form input[type=submit] {
    margin-top: 3%;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-right: 5%;
    padding-left: 5%;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .footer-form input[type=submit] {
    margin-top: 3%;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-right: 5%;
    padding-left: 5%;
  }
}
.footer-form input[type=submit]:hover {
  color: #009ff6;
  border-color: #009ff6;
  background-color: #fff;
}

.copyright-text {
  text-align: center;
  padding-bottom: 3rem;
  color: #fff;
}
@media (max-width: 500px) {
  .copyright-text {
    padding-bottom: 0.5rem;
  }
}

ul.social {
  display: flex;
  padding-top: 10%;
  padding-bottom: 2%;
  justify-content: center;
  list-style-type: none;
  margin: 0 auto;
}
@media (max-width: 500px) {
  ul.social {
    padding-bottom: 1%;
    padding-top: 5%;
  }
}
ul.social li {
  color: #b4b0b0;
  text-align: center;
  margin: 0 1.1rem;
}
@media (max-width: 500px) {
  ul.social li {
    margin: 0.8rem;
  }
}
ul.social li a svg {
  fill: #b4b0b0;
  cursor: pointer;
  width: 1.3rem;
  height: 1.3rem;
}
@media (max-width: 500px) {
  ul.social li a svg {
    width: 1.2rem;
    height: 1.2rem;
  }
}
ul.social li a svg:hover {
  fill: #fff;
}/*# sourceMappingURL=footer.css.map */