@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&family=Verdana:wght@300;400;500;600;700;800;900&family=Open+Sans:wght@300;400;600;700;800&family=Rock+Salt&family=Verdana&display=swap");
/*@mixin widescreen CSS {
    @media (min-width: 1441px) and (max-width: 1920px) {
        @content;
    }
}*/
@-webkit-keyframes pulse {
  from {
    transform: scale3d(1, 1, 1);
  }
  50% {
    transform: scale3d(1.05, 1.05, 1.05);
  }
  to {
    transform: scale3d(1, 1, 1);
  }
}
@keyframes pulse {
  from {
    transform: scale3d(1, 1, 1);
  }
  50% {
    transform: scale3d(1.05, 1.05, 1.05);
  }
  to {
    transform: scale3d(1, 1, 1);
  }
}
@-webkit-keyframes vanish {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes vanish {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
@-webkit-keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
}
@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("../images/Light-mode_bg.webp");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
@media (max-width: 500px) {
  body {
    background-image: url("../images/Light-mode_bg-mobile.webp");
  }
}
@media (min-width: 501px) and (max-width: 768px) {
  body {
    background-image: url("../images/Light-mode_bg-tablet.webp");
  }
}

.container {
  width: 100%;
  height: 100vh;
  position: relative;
}

p {
  font-family: "Verdana";
  line-height: 1.7rem;
  font-size: 0.95rem;
  letter-spacing: 0.03rem;
}
@media (max-width: 500px) {
  p {
    font-size: 0.9rem;
  }
}
p.caveat {
  font-family: "Caveat";
  font-size: 2rem;
}
p.copyright-text a {
  color: #009ff6;
}

.loader {
  position: fixed;
  z-index: 5000;
  background-color: #fff;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-animation: pulse 1s linear infinite;
          animation: pulse 1s linear infinite;
}
@media (min-width: 501px) and (max-width: 768px) {
  .loader {
    width: 100%;
    height: 100%;
  }
}
@media (max-width: 500px) {
  .loader {
    width: 100%;
    height: 100%;
  }
}
.loader .pre {
  width: 80px;
  height: 80px;
}
@media (min-width: 501px) and (max-width: 768px) {
  .loader .pre {
    width: 60px;
    height: 60px;
  }
}
@media (max-width: 500px) {
  .loader .pre {
    width: 50px;
    height: 50px;
  }
}
.loader .blue, .loader a#logo-link p .grey, a#logo-link p .loader .grey, .loader .grey {
  color: #009ff6;
  font-family: "Verdana";
  font-size: 2.5rem;
  font-weight: 500;
}
@media (min-width: 501px) and (max-width: 768px) {
  .loader .blue, .loader a#logo-link p .grey, a#logo-link p .loader .grey, .loader .grey {
    font-size: 2rem;
    font-weight: 500;
  }
}
@media (max-width: 500px) {
  .loader .blue, .loader a#logo-link p .grey, a#logo-link p .loader .grey, .loader .grey {
    font-size: 1.5rem;
    font-weight: 500;
  }
}
.loader .grey {
  color: #525252;
}

.disappear {
  -webkit-animation: vanish 1s forwards;
          animation: vanish 1s forwards;
}

header {
  padding-top: 2%;
  padding-left: 5%;
  padding-right: 5%;
  overflow: auto;
  background-color: transparent;
  position: fixed;
  width: 100%;
  transition: 1s;
}
@media (min-width: 1025px) and (max-width: 1440px) {
  header {
    padding-right: 2%;
  }
}
@media (max-width: 500px) {
  header {
    padding-top: 4%;
    padding-left: 3%;
    padding-right: 6%;
  }
}
header.sticky a.nav-button {
  color: #009ff6;
  border-color: #009ff6;
  background-color: #fff;
}
header.sticky a.nav-button:hover {
  color: #009ff6;
  border-color: #009ff6;
  background-color: #fff;
}
header #check {
  display: none;
}
header .checkbtn {
  display: none;
}
@media (max-width: 500px) {
  header .checkbtn {
    display: flex;
    z-index: 500;
  }
}
@media (min-width: 501px) and (max-width: 768px) {
  header .checkbtn {
    display: flex;
    z-index: 500;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  header .checkbtn {
    display: flex;
    z-index: 500;
  }
}

.sticky {
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #fff;
  transition: 1s;
  z-index: 500;
}
@media (max-width: 500px) {
  .sticky {
    padding-top: 4%;
    padding-left: 3%;
    padding-right: 6%;
  }
}
@media (min-width: 501px) and (max-width: 768px) {
  .sticky {
    padding-top: 2%;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .sticky {
    padding-top: 2%;
  }
}
@media (min-width: 1025px) and (max-width: 1440px) {
  .sticky {
    padding-top: 2%;
    padding-right: 2%;
  }
}

a {
  text-decoration: none;
  list-style: none;
}
a#logo-link {
  align-self: center;
  padding-left: 2%;
  display: flex;
  align-items: center;
}
a#logo-link .logo {
  width: 12%;
  height: 12%;
}
a#logo-link p {
  margin-top: 1%;
}
a#logo-link p .blue, a#logo-link p .grey {
  color: #009ff6;
  font-family: "Verdana";
  font-size: 1.5rem;
  font-weight: 500;
}
@media (min-width: 501px) and (max-width: 768px) {
  a#logo-link p .blue, a#logo-link p .grey {
    font-size: 1.5rem;
    font-weight: 500;
  }
}
@media (max-width: 500px) {
  a#logo-link p .blue, a#logo-link p .grey {
    font-size: 1.3rem;
    font-weight: 500;
  }
}
a#logo-link p .grey {
  color: #525252;
}
a.nav-button {
  align-self: center;
  color: #fff;
  margin-right: 6%;
  font-family: "Verdana";
  font-weight: 700;
  font-size: 0.7rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  padding-top: 0.7%;
  padding-bottom: 0.75%;
  padding-right: 1.7%;
  padding-left: 1.7%;
  border: solid 1.5px;
  border-radius: 5px;
  border-color: #fff;
  background-color: #009ff6;
  box-shadow: none;
}
a.nav-button:hover {
  color: #009ff6;
  border-color: #009ff6;
  background-color: #fff;
}
@media (max-width: 500px) {
  a.nav-button {
    display: none;
  }
}
@media (min-width: 501px) and (max-width: 768px) {
  a.nav-button {
    display: none;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  a.nav-button {
    display: none;
  }
}

#navbar {
  display: flex;
  justify-content: space-between;
  padding-top: 0;
  width: 100%;
  align-items: center;
}
@media (max-width: 500px) {
  #navbar {
    padding-top: 2%;
  }
}
@media (min-width: 501px) and (max-width: 768px) {
  #navbar {
    padding-top: 2%;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  #navbar {
    padding-top: 2%;
    padding-right: 2%;
  }
}
#navbar .toggle {
  align-self: center;
  cursor: pointer;
  display: none;
  justify-content: space-between;
  text-decoration: none;
  fill: #525252;
}
@media (max-width: 500px) {
  #navbar .toggle {
    display: flex;
    margin-right: 5%;
    z-index: 502;
    align-items: center;
    width: 1.6rem;
  }
}
@media (min-width: 501px) and (max-width: 768px) {
  #navbar .toggle {
    display: flex;
    margin-right: 5%;
    z-index: 502;
    width: 2rem;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  #navbar .toggle {
    display: flex;
    margin-right: 5%;
    z-index: 502;
    width: 2rem;
  }
}
#navbar .active {
  display: flex;
  transition: all 1s ease-in-out;
}
#navbar ul {
  display: flex;
  align-items: center;
  list-style: none;
  justify-content: space-between;
  margin-left: -14%;
}
@media (max-width: 500px) {
  #navbar ul {
    flex-direction: column;
    top: 8%;
    padding-top: 5%;
    padding-bottom: 10%;
    padding-right: 5%;
    position: fixed;
    height: auto;
    width: 50%;
    left: 50%;
    background-color: #fff;
    display: none;
    transition: all 1s ease-in-out;
    align-items: flex-end;
    margin-left: 0;
  }
}
@media (min-width: 501px) and (max-width: 768px) {
  #navbar ul {
    flex-direction: column;
    top: 8.5%;
    padding-top: 5%;
    padding-bottom: 10%;
    padding-right: 5%;
    position: fixed;
    height: auto;
    width: 30%;
    left: 70%;
    background-color: #fff;
    display: none;
    transition: all 1s ease-in-out;
    align-items: flex-end;
    margin-left: 0;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  #navbar ul {
    flex-direction: column;
    top: 10.5%;
    padding-top: 3%;
    padding-bottom: 10%;
    padding-right: 5%;
    position: fixed;
    height: auto;
    width: 30%;
    left: 70%;
    background-color: #fff;
    display: none;
    transition: all 1s ease-in-out;
    align-items: flex-end;
    margin-left: 0;
  }
}
#navbar ul li a {
  color: #3a3a3a;
  text-decoration: none;
  display: block;
  padding: 20px;
  font-family: "Verdana";
  font-size: 0.85rem;
  letter-spacing: 0.07rem;
  font-weight: 500;
  text-align: center;
}
@media (min-width: 501px) and (max-width: 768px) {
  #navbar ul li a {
    padding-top: 20%;
    padding-bottom: 20%;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  #navbar ul li a {
    padding-top: 20%;
    padding-bottom: 20%;
  }
}
#navbar ul li a:hover {
  color: #009ff6;
}
#navbar ul li a:active {
  color: #009ff6;
}

.overview-section {
  padding: 10% 15%;
  display: flex;
}
@media (max-width: 500px) {
  .overview-section {
    padding: 25% 10% 10% 10%;
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 501px) and (max-width: 768px) {
  .overview-section {
    padding: 20% 15% 10% 15%;
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .overview-section {
    padding: 20% 15% 10% 15%;
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 1025px) and (max-width: 1440px) {
  .overview-section {
    padding: 15% 10% 10% 10%;
  }
}
.overview-section .full-image {
  width: 50%;
}
@media (max-width: 500px) {
  .overview-section .full-image {
    width: 100%;
  }
}
@media (min-width: 501px) and (max-width: 768px) {
  .overview-section .full-image {
    width: 100%;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .overview-section .full-image {
    width: 100%;
  }
}
.overview-section .full-image img {
  width: 100%;
}
.overview-section .overview {
  padding: 0 5%;
  text-align: center;
  width: 50%;
}
@media (max-width: 500px) {
  .overview-section .overview {
    width: 100%;
    padding: 10% 0 0 0;
  }
}
@media (min-width: 501px) and (max-width: 768px) {
  .overview-section .overview {
    width: 100%;
    padding: 10% 0 0 0;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .overview-section .overview {
    width: 100%;
    padding: 10% 0 0 0;
  }
}
.overview-section .overview h1 {
  font-family: "Verdana";
  color: #525252;
  font-size: 2rem;
  padding-bottom: 5%;
  font-weight: 500;
}
@media (max-width: 500px) {
  .overview-section .overview h1 {
    font-size: 1.7rem;
  }
}
.overview-section .overview p {
  text-align: left;
  color: #666;
  font-size: 0.95rem;
  line-height: 2rem;
  margin-bottom: 7%;
}
.overview-section .overview .button {
  align-self: center;
  color: #fff;
  font-family: "Verdana";
  font-weight: 600;
  font-size: 0.85rem;
  letter-spacing: 0.1rem;
  text-transform: capitalize;
  padding-top: 1.5%;
  padding-bottom: 1.5%;
  padding-right: 2.5%;
  padding-left: 2.5%;
  border: solid 1.5px;
  border-radius: 5px;
  border-color: #fff;
  background-color: #009ff6;
  box-shadow: none;
}
.overview-section .overview .button:hover {
  color: #009ff6;
  border-color: #009ff6;
  background-color: #fff;
}

.approach-section {
  padding: 5% 15%;
  display: flex;
}
@media (max-width: 500px) {
  .approach-section {
    padding: 10% 10%;
    display: flex;
    flex-direction: column-reverse;
  }
}
@media (min-width: 501px) and (max-width: 768px) {
  .approach-section {
    padding: 10% 15%;
    display: flex;
    flex-direction: column-reverse;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .approach-section {
    padding: 10% 15%;
    display: flex;
    flex-direction: column-reverse;
  }
}
@media (min-width: 1025px) and (max-width: 1440px) {
  .approach-section {
    padding: 10% 10%;
  }
}
.approach-section .approach {
  padding: 0 5%;
  text-align: center;
  width: 50%;
}
@media (max-width: 500px) {
  .approach-section .approach {
    width: 100%;
    padding: 10% 0 0 0;
  }
}
@media (min-width: 501px) and (max-width: 768px) {
  .approach-section .approach {
    width: 100%;
    padding: 10% 0 0 0;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .approach-section .approach {
    width: 100%;
    padding: 10% 0 0 0;
  }
}
.approach-section .approach h2 {
  font-family: "Verdana";
  color: #525252;
  font-size: 1.8rem;
  padding-bottom: 5%;
  font-weight: 500;
}
@media (max-width: 500px) {
  .approach-section .approach h2 {
    font-size: 1.5rem;
  }
}
.approach-section .approach p {
  text-align: left;
  color: #666;
  font-size: 0.95rem;
  line-height: 2rem;
  margin-bottom: 7%;
}
.approach-section .process {
  width: 50%;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
}
.approach-section .process img {
  width: 100%;
}
@media (max-width: 500px) {
  .approach-section .process {
    width: 100%;
  }
}
@media (min-width: 501px) and (max-width: 768px) {
  .approach-section .process {
    width: 100%;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .approach-section .process {
    width: 100%;
  }
}

.wireframes-section {
  padding: 5% 15%;
}
.wireframes-section .title h3 {
  font-family: "Verdana";
  color: #525252;
  font-size: 1.7rem;
  padding-bottom: 3%;
  text-align: center;
  font-weight: 500;
}
@media (max-width: 500px) {
  .wireframes-section .title h3 {
    font-size: 1.5rem;
  }
}
.wireframes-section .wireframes {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
}
.wireframes-section .wireframes img {
  width: 35%;
  padding: 5%;
}
@media (max-width: 500px) {
  .wireframes-section .wireframes img {
    width: 70%;
  }
}
@media (min-width: 501px) and (max-width: 768px) {
  .wireframes-section .wireframes img {
    width: 40%;
  }
}

.final-designs-section {
  padding: 5% 15%;
}
.final-designs-section .title h3 {
  font-family: "Verdana";
  color: #525252;
  font-size: 1.7rem;
  padding-bottom: 3%;
  text-align: center;
  font-weight: 500;
}
@media (max-width: 500px) {
  .final-designs-section .title h3 {
    font-size: 1.5rem;
  }
}
.final-designs-section .final-designs {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
}
.final-designs-section .final-designs img {
  width: 35%;
  padding: 5%;
}
@media (max-width: 500px) {
  .final-designs-section .final-designs img {
    width: 70%;
  }
}
@media (min-width: 501px) and (max-width: 768px) {
  .final-designs-section .final-designs img {
    width: 40%;
  }
}

.client-remarks {
  padding: 5% 25% 25% 25%;
}
@media (max-width: 500px) {
  .client-remarks {
    padding: 20% 15% 60% 15%;
  }
}
@media (min-width: 501px) and (max-width: 768px) {
  .client-remarks {
    padding: 5% 15% 40% 15%;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .client-remarks {
    padding: 5% 20% 30% 20%;
  }
}
.client-remarks .remarks {
  text-align: center;
  padding: 0;
}
.client-remarks .remarks h3 {
  font-family: "Verdana";
  color: #525252;
  font-size: 1.7rem;
  padding-bottom: 3%;
  text-align: center;
  font-weight: 500;
}
@media (max-width: 500px) {
  .client-remarks .remarks h3 {
    font-size: 1.5rem;
  }
}
.client-remarks .remarks p {
  text-align: left;
  color: #666;
  font-size: 0.95rem;
  line-height: 2rem;
  margin-bottom: 7%;
}
.client-remarks .remarks .button {
  align-self: center;
  color: #fff;
  font-family: "Verdana";
  font-weight: 600;
  font-size: 0.85rem;
  letter-spacing: 0.1rem;
  text-transform: capitalize;
  padding-top: 1.5%;
  padding-bottom: 1.5%;
  padding-right: 2.5%;
  padding-left: 2.5%;
  border: solid 1.5px;
  border-radius: 5px;
  border-color: #fff;
  background-color: #009ff6;
  box-shadow: none;
}
@media (max-width: 500px) {
  .client-remarks .remarks .button {
    padding-top: 3%;
    padding-bottom: 3%;
    padding-right: 4%;
    padding-left: 4%;
  }
}
.client-remarks .remarks .button:hover {
  color: #009ff6;
  border-color: #009ff6;
  background-color: #fff;
}

footer {
  background-color: #3a3a3a;
  display: flex;
  justify-content: center;
  width: 100%;
}
@media (max-width: 500px) {
  footer {
    padding-bottom: 5%;
  }
}

.footer-form {
  font-family: "Verdana";
  display: inline-block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 50vw;
  background-color: #fff;
  border-radius: 7px;
  box-shadow: 0 0 15px #666;
  padding: 8% 15%;
  margin-top: -30%;
  color: #525252;
}
@media (max-width: 500px) {
  .footer-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    padding: 8% 10%;
    margin-bottom: 5%;
    border-radius: 0;
    box-shadow: none;
  }
}
@media (min-width: 501px) and (max-width: 768px) {
  .footer-form {
    width: 70vw;
    padding: 8% 10%;
    margin-bottom: 5%;
    padding-bottom: 3%;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .footer-form {
    width: 60vw;
    padding: 8% 10%;
    margin-bottom: 5%;
    padding-bottom: 3%;
  }
}
@media (min-width: 1025px) and (max-width: 1440px) {
  .footer-form {
    width: 50vw;
    padding: 8% 10%;
    padding-bottom: 3%;
  }
}
.footer-form .success-sub {
  color: #009ff6;
  font-size: 1.2rem;
}
.footer-form .failed-sub {
  color: #009ff6;
  font-size: 1.2rem;
}
.footer-form p {
  text-align: center;
  width: 100%;
  margin-bottom: 7%;
}
.footer-form label {
  width: 100%;
}
.footer-form input[type=text],
.footer-form input[type=email] {
  font-family: "Verdana";
  width: 40%;
  margin-bottom: 10%;
  margin-right: 1%;
  margin-left: 1%;
  padding: 2% 4%;
  border-radius: 0;
  -webkit-appearance: none;
  border: solid;
  border-color: #525252;
  border-width: 1px;
  border-width: 0 0 1px 0;
}
@media (max-width: 500px) {
  .footer-form input[type=text],
.footer-form input[type=email] {
    width: 80%;
    padding: 5% 0;
  }
}
.footer-form input[type=text]:focus,
.footer-form input[type=email]:focus {
  border-color: #009ff6;
  border-width: 0 0 1px 0;
  outline: none;
}
.footer-form input[type=submit] {
  font-family: "Verdana";
  font-size: 0.8rem;
  font-weight: 600;
  color: #fff;
  border: solid 1.5px;
  border-color: #009ff6;
  background-color: #009ff6;
  border-radius: 4px;
  padding: 2.5% 4%;
  margin-bottom: 4%;
  letter-spacing: 0.1rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
@media (max-width: 500px) {
  .footer-form input[type=submit] {
    width: 50%;
    display: inline-block;
    margin-top: 7%;
    margin-bottom: 7%;
    padding-top: 4%;
    padding-bottom: 4%;
    padding-right: 5%;
    padding-left: 5%;
  }
}
@media (min-width: 501px) and (max-width: 768px) {
  .footer-form input[type=submit] {
    margin-top: 3%;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-right: 5%;
    padding-left: 5%;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .footer-form input[type=submit] {
    margin-top: 3%;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-right: 5%;
    padding-left: 5%;
  }
}
.footer-form input[type=submit]:hover {
  color: #009ff6;
  border-color: #009ff6;
  background-color: #fff;
}

.copyright-text {
  text-align: center;
  padding-bottom: 3rem;
  color: #fff;
}
@media (max-width: 500px) {
  .copyright-text {
    padding-bottom: 0.5rem;
  }
}

ul.social {
  display: flex;
  padding-top: 10%;
  padding-bottom: 2%;
  justify-content: center;
  list-style-type: none;
  margin: 0 auto;
}
ul.social li {
  color: #b4b0b0;
  text-align: center;
  margin: 0 1.1rem;
}
ul.social li a svg {
  fill: #b4b0b0;
  cursor: pointer;
}
ul.social li a svg:hover {
  fill: #fff;
}/*# sourceMappingURL=projects-single1.css.map */